.menu {
  padding: 30px 0 40px 0;
  z-index: 5;

  & .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 295px;
    height: 55px;
    margin-right: 200px;

    & img {
      max-width: 100%;
      max-height: 100%;

      &.hidden {
        display: none;
      }
    }

  }

  & .wrap-nav {
    display: flex;
    margin-top: 0px;
    flex: 1;
  }

  &__info {
    margin-left: auto;
    text-align: right;
    margin-top: -9px;

    & a {
      font-weight: 900;
      font-size: 20px;

      &:hover {
        color: $red;
      }
    }

    & p {
      font-size: 13px;
      margin-bottom: 5px;

      & span {
        font-weight: 600;
      }

      &:last-child {
        display: flex;
        justify-content: flex-end;

        & span {
          font-size: 16px;
          margin-right: 10px;
        }
      }
    }
  }

  & .menu {
    display: flex;
    align-items: center;

    &-item {
      &.has-child {
        &:hover {
          & .sub-menu {
            opacity: 1;
            transition: .5s;
            visibility: visible;
            pointer-events: auto;
          }
        }

        & .menu-link {
          &:after {
            background: transparent;
            left: 50%;
           /* transform: translateX(-50%); */
            height: auto;
            width: auto;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 7px solid $gray;
          }

          &:hover {
            &:after {
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 7px solid $red;
            }
          }
        }
      }
    }

    &-link {
      letter-spacing: 0.2px;
      padding: 6px 14px;
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;
      color: #373737;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 1px;
        height: 2px;
        width: 0;
        background: $red;
        left: 12px;
      }

      &:hover {
        &:after {

          width: 38px;
        }
      }
    }
  }

  & .socials {
  }
}

.sub-menu {
  /*box-shadow: -14px -5px 30px -30px #000;*/
  z-index: 4;
  /*padding: 5px 0 7px 0;*/
  position: absolute;
  width: 175px;
  background: $white;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  transition: .5s;

  & li {
    /* line-height: 12px; */
   /* margin-bottom: 11px; */

    & a {
      color: #373737;
     /* padding: 0 10px 0 12px; */

    }


    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sub-item {
}

.sub-link {
  color: #373737;
  font-size: 15px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -4px;
    top: 2px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 5px solid $gray;
    border-bottom: 6px solid transparent;
  }

  &:hover {
    text-decoration: none;

    &:after {
      border-left: 5px solid $red;
    }
  }
}

.sub-sub-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: .5s;
  /*box-shadow: -14px -5px 30px -30px #000;*/
  width: 245px;
  z-index: 4;
  position: absolute;
  left: 100%;
  /*padding: 9px 5px 8px 12px;*/
  background: $white;
  top: 0;
  margin-left: -1px;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: .5s;
  }

  & li {
    /*margin-bottom: 11px;*/

    &:last-child {
      margin-bottom: 0;
    }

    & a {
     /* padding: 0; */
      color: #373737;

      &:hover {
        color: $red;
      }
    }
  }
}


.socials {
  padding-left: 6px;
  display: flex;
  align-items: center;

  & a {
    display: flex;
    padding: 3px 8.5px;
    font-size: 16px;
    transition: .2s;

    & span {
      transition: none;
    }

    &:hover {
      color: #f43b3b;
    }
  }
}

.close-nav {
  display: none;
}

.open-nav {
  padding: 10px;
  width: 45px;
  height: 35px;
  display: none;
  flex-direction: column;

  & .line {
    width: 100%;
    height: 2px;
    background: #282828;
    margin-bottom: 4.3px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  &.open {
    display: block;

  }
}

@media (max-width: 1439px) {
  .menu__logo {
    margin-right: 50px;
    width: 255px;
    height: 50px;
  }
  .menu .wrap-nav {
    margin-top: 0;
  }
  .menu__info {
    margin-top: 0;
  }
  .menu {
    padding: 20px 0 20px 0;
  }
}

@media (max-width: 1239px) {
  .menu__logo {
    margin-right: 30px;
    width: 230px;
    height: 45px;
  }
  .menu__info a {
    font-size: 18px;
  }
  .menu__info p {
    font-size: 11px;
  }
  .menu .menu-link {
    padding: 5px 7px;
  }
  .socials {
    padding-left: 0;
  }

}

@media (max-width: 1023px) {
  .menu__logo {
    width: 130px;
    height: 35px;

    & img {
      display: none;

      &.hidden {
        display: block;
      }
    }
  }
  .open-nav {
    display: flex;
    margin-left: auto;
  }
  .menu .wrap-nav {
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .5s;
    width: 360px;
    max-width: 80%;
    height: 100vh;
    background: #ffffff;
    display: block;
    padding: 60px 10px 20px 30px;
    overflow-y: auto;
    &.open {
      transition: .5s;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateX(0);
    }
  }
  .menu .menu-link {
    padding: 0;
  }
  .menu .menu-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .menu .menu {
    display: block;
    margin-bottom: 10px;
	  padding: 30px 10px 30px 20px;
  }
  .menu .socials {
    margin-left: -7px;
    margin-bottom: 10px;
  }
  .close-nav {
    @include verticalCenter;
    position: absolute;
    left: 30px;
    top: 30px;
  }

  .close-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: 30px;
  }
  .menu .menu-link:after {
    left: 0;
    bottom: -3px;
  }
  .menu__info {
    margin-left: 0;
    text-align: left;
  }
  .menu__info p:last-child {
    justify-content: flex-end;
    flex-direction: row-reverse;

    & span {
      margin-left: 10px;
    }
  }
  .menu {
    background: #ffffff;
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .sub-menu {
    box-shadow: none;
    z-index: 4;
    padding: 5px 0 7px 0;
    position: static;
    width: auto;
    background: transparent;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: none;
    &.active {
      display: block;
    }
  }
  .menu .menu-item.has-child .menu-link:after {
    bottom: auto;
    top: 2px;
    left: auto;
    right: -15px;
   /* transform: rotate(-90deg); */
  }
	.menu .menu-item.has-child .menu-link::after {
  background: 0 0;
  left: 50%;
  /*-webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);*/
  height: auto;
  width: auto;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #e9e9e9;
.menu .menu-item.has-child .menu-link:hover::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #f43b3b;
}

  .sub-sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    box-shadow: none;
    width: auto;
    z-index: 4;
    position: static;
    left: auto;
    padding: 9px 5px 8px 12px;
    background: transparent;
    top: auto;
    margin-left: 10px;
    display: none;
    &.active {
      display: block;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: .5s;
		position: static;
    }
  }

}