@charset "UTF-8";
/* CSS Document */

    .swiper {
      width: 100%;
      height: 100%;
		max-width: 1155px;
		max-height: 584px;
		margin-left: inherit;
		margin-right: inherit;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }