services:

  zasor-nginx:
    image: nginx:1.22.0-alpine
    expose:
      - "80"
    networks:
      - "zasor"
    volumes:
      - "./nginx/app.conf.template:/etc/nginx/templates/app.conf.template"
      - "./nginx/default.conf:/etc/nginx/conf.d/default.conf"
      - "./app:/var/www/html/zasor"
      - "zasor-nginx-tmp:/tmp/nginx/cache"
    command: [ "nginx", '-g', 'daemon off;' ]
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=zasor"
      - "traefik.port=80"
      - "traefik.protocol=http"
      - "traefik.frontend.entryPoints=http"
      - "traefik.frontend.rule=HostRegexp:${DOMAIN_NAME}"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.backend=zasor-nginx"
    environment:
      - "DOMAIN_NAME=${DOMAIN_NAME}"

  zasor-adminer:
    image: adminer:latest
    hostname: "${ADMINER_DOMAIN_NAME}"
    restart: unless-stopped
    networks:
      - "zasor"
    expose:
      - "80"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=zasor"
      - "traefik.port=80"
      - "traefik.protocol=http"
      - "traefik.frontend.entryPoints=http"
      - "traefik.frontend.rule=Host:${ADMINER_DOMAIN_NAME}"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.backend=zasor-adminer"
    environment:
      ADMINER_DEFAULT_SERVER: 'zasor-db'
      ADMINER_DESIGN: 'pappu687'
    command: ["php", "-S", "[::]:80", "-t", "/var/www/html"]

  zasor-php-fpm:
    #    image: zasor/php-fpm-8.2-mysql:dev
    image: renat/php-fpm-7.4-xdebug-mysql:dev
    #    image: boiler/php-fpm-8.2-xdebug-imap-mysql:dev
    expose:
      - "9000"
    networks:
      - "zasor"
    volumes:
      - ./app:/var/www/html/zasor
      - "zasor-php-tmp:/tmp"
      - "zasor-composer-data:/home/${USER}/.composer"
    restart: unless-stopped
    working_dir: /var/www/html/zasor
    env_file:
      - .env
    labels:
      - "traefik.backend=zasor-php-fpm"
      - "traefik.docker.network=zasor"

  zasor-db:
    image: mysql:8
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
    volumes:
      - ./dump.db:/docker-entrypoint-initdb.d
      - "zasor-db-data:/var/lib/mysql"
    networks:
      - "zasor"
    expose:
      - "${MYSQL_PORT}"
    labels:
      - "traefik.backend=zasor-db"
      - "traefik.docker.network=zasor"

volumes:
  zasor-php-tmp:
    external: true
  zasor-composer-data:
    external: true
  zasor-db-data:
    external: true
  zasor-nginx-tmp:
    external: true

networks:
  zasor:
    external: true
